<header>
  <img src="/logo.png" class="logo" alt="logo">

  <nav>
    <a href="/"><%= t.home %></a>
    <a href="/category/news"><%= t.news %></a>
    <a href="/category/services"><%= t.services %></a>
    <!---<a href="/category/about"><%= t.about %></a>--->
    <a href="/about"><%= t.about %></a>

    <select onchange="location.href='/lang/'+this.value">
      <option value="uz" <%= lang === 'uz' ? 'selected' : '' %>>UZ</option>
      <option value="ru" <%= lang === 'ru' ? 'selected' : '' %>>RU</option>
      <option value="en" <%= lang === 'en' ? 'selected' : '' %>>EN</option>
    </select>
  </nav>
</header>
